.header {
    width:100%;
    overflow:hidden;
    margin-bottom:0px;
    height: 70px;
    padding: 10px 0px;
}
header nav {
    float: left;
    line-height:20px;
    margin-left: 30px;
    display: inline-block;
    width: 50%;
    margin-top: 10px;
}

header nav a {
    display:inline;
    color:#282828;
    text-decoration:none;
    padding: 16px;
    line-height:normal;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight:400;
}

header nav a:hover {
    font-weight: 500;
}


.card-error{
    background: red;

}

.card-success {
    background-color: green;
}

.barra {
    display: inline;
    width: 50%;
}

.iconos {
    display: inline;
    margin-top: 10px;
    margin-right: 30px;
    padding: 0px 0px 0px 0px;
    float: right;
    color: #282828;
    font-size: 20px;
}

.iconos:hover {
    color: #0059ff;
}